#navigacija{
    font-size: 30px;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#navigacija a{
    color: #c47321;
    opacity: 0.5;
    padding: 20px;
}
#navigacija a:hover{
    color: red;
    opacity: 1;
}
.trenutna{
    background-color:black;
}
.kontejneri{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}
h1{
    font-family: 'Arvo', sans-serif;
    padding-top: 20px;
    width: 100%;
    font-size: 80px;
    text-align: center;
}
h2{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-size: 40px;
}
h4{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    width: 100%;
    font-size: 30px;
}
table{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
td{
    text-align: center;
    font-size: 15px;
    width: 25%;
}
blockquote{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 5px solid black;
    border-right: 5px solid black;
    margin-top: 40px;
    font-size: 30px;
    margin-bottom: 0px;
    text-align: center;
}
cite{
    text-align: center;
    font-size: 20px;
}
p{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}
.steta{
    margin: 30px;
}
figcaption{
    font-size: 20px;
    text-align: center;
}
ul{
    margin-top: -20px;
}
ol{
    list-style-type: upper-roman;
}
#warhammer_gimp{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}
#world{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#world_tekst{
    position: relative;
    left: 30%;
    font-size: 18px;
    margin-top: -5px;
    margin-bottom: 50px;
}
#ratni_cekic{
    position: relative;
    left: 25%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
#old_ones{
    width: 100%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}
#mortal_realms{
    position: relative;
    left: 37%;
    width: 25%;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.xop-section {
	max-width: 960px;
	margin: 0 auto;
	padding: 6% 2%;
}

.xop-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.xop-grid li {
	width: 350px;
	height: 350px;
	display: inline-block;
	margin: 20px;
}
.xop-grid li {
	width: 350px;
	height: 350px;
	display: inline-block;
	margin: 20px;
}

.xop-box {
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.xop-box:hover {
	transform: scale(1.05); 
}
.xop-img-1 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(khorne.jpg);
}

.xop-img-2 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(nurgle.jpg);
}

.xop-img-3 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(tzeentch.jpg);
}

.xop-img-4 {
	background: linear-gradient( rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), /* bottom, image */
	url(slaanesh.jpg);
}
/*-----------------------------------*/
.slika{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.slike{
    height: 250px;
}